<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es-ES">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
<div th:include = "~{fragments/header :: head}"></div>
<div class="container">
<h1>NUEVO REGISTRO</h1>
</div>
<form class = "form-register" th:action="@{/registro}" th:object="${usuario}" method="POST">
    <div class="registro">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{email}">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" th:field="*{password}">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>